/* 
primary-colors: #2ebeb4 #f4705b #fba63b
secondary-colors: #33396d #707499 #ab4e40
light-shades: #eaf9f8 #d5f2f0 #6dd2cb #fef1ef  
dark-shades: #259890 #175f5a 
dark for text: #092624 #0e3936
*/

:root {
  --color-brand--1: #2ebeb4;
  --color-brand--2: #f4705b;

  --color-secondary--1: #f4705b;
  --color-secondary--2: #f68d7c;
  --color-secondary--3: #ab4e40;
  --color-secondary--4: #49221b;

  --color-dark--1: #57b3ac;
  --color-dark--2: #175f5a;

  --color-light--1: #d5f2f0;
  --color-light--2: #fef1ef;
  --color-light--3: #6dd2cb;

  --color-dark--text: #0e3936;
  --color-light--text: #d5f2f0;
  --color-lightest--text: #f4fcfc;

  --transition--4: all 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Baloo 2', cursive;
  box-sizing: border-box;
}

body {
  color: var(--color-dark--text);
  font-size: 1.6rem;
  font-weight: 500;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;
}

.body__container {
  display: grid;
  grid-template-columns: 35fr 65fr;
}

/* !Buttons and button icons */
.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn--close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
}

.btn__header__list {
  right: 2%;
  top: 4%;
  height: 2.4rem;
  width: 2.4rem;
}

.header__list__icon--close {
  font-size: 2.4rem;
  color: var(--color-secondary--3);
  transition: var(--transition--4);
}

.header__list__icon--close:hover {
  color: var(--color-secondary--2);
}

.btn__event__close {
  top: 3%;
  right: 1%;
  height: 2.4rem;
  width: 2.4rem;
}

.event__icon--close {
  font-size: 2.4rem;
  color: var(--color-dark--text);
  transition: var(--transition--4);
}

.event__icon--close:hover {
  color: var(--color-brand--1);
}

.btn__reset {
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: #d5f2f0be;
  padding: 0 4rem;
  border-radius: 5px;
  transform: translate(-50%, 0);
  transition: var(--transition--4);
}

.btn__reset:hover {
  background-color: var(--color-lightest--text);
}

.btn--opacity {
  opacity: 0;
}

/* HEADING */
.heading {
  grid-column: 1 / -1;
  position: relative;
  background-color: var(--color-brand--2);
}

#details__checkbox {
  position: absolute;

  opacity: 0;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  z-index: -1;
}
#details__checkbox:focus {
  outline: none;
}

#details__checkbox:checked ~ .header__list__container {
  display: block;
}

.header__label {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
  height: 3rem;
  width: 3rem;
}

.header__icon {
  font-size: 3rem;
  color: var(--color-secondary--4);
  cursor: pointer;
  transition: var(--transition--4);
}

.header__icon:hover {
  color: var(--color-secondary--3);
}

.header__list__container {
  position: absolute;
  top: 20%;
  left: 3.5%;
  display: none;
}

.header__list {
  position: relative;
  display: grid;
  gap: 1.2rem;
  line-height: 1.6;
  background-color: var(--color-light--2);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.219);
  padding: 2rem 2.6rem 2rem 3rem;
  width: max-content;
  max-width: 40rem;
  z-index: 99;
}

.header__list__item {
  font-size: 1.6rem;
  margin-left: 1.2rem;
}

.primary-heading {
  color: var(--color-secondary--4);
  font-size: 3rem;
  text-align: center;
  padding: 0.4rem 0;
}

/* Chose to put map before sidebar in order to make responsive design easier to adapt with the sidebar moving under the map */
/* MAP */
#map {
  grid-column: 2 / 3;
  grid-row: 2/ 3;
  height: 100%;
  background-color: var(--color-light--2);
}

/* !sidebar */
.secondary-heading {
  color: var(--color-lightest--text);
  font-size: 2.6rem;
  text-align: center;
}

.sidebar {
  position: relative;
  grid-column: 1/ 2;
  background-color: var(--color-dark--1);
  padding: 2.8rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.events {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.events::-webkit-scrollbar {
  width: 0;
}

.instructions {
  color: var(--color-light--text);
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1.6rem;
  transition: all 0.4s;
}

.instructions--hide {
  opacity: 0;
  height: 0%;
  margin-bottom: 0;
}

/* !details */
.event {
  position: relative;
  background-color: var(--color-light--1);
  border-radius: 5px;
  padding: 1.4rem 2.8rem;
  margin-bottom: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  cursor: pointer;
  color: var(--color-dark--text);
  transition: all 0.5s, transform 1ms;
}
.event__emoji {
  font-size: 2rem;
}
.event__title {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-dark--text);
  font-size: 2.6rem;
  transition: var(--transition--4);
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--color-light--3);
  margin-bottom: 0.6rem;
}

.event__icon {
  font-size: 2.6rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.event__date {
  font-size: 2rem;
}

.event__details {
  transition: var(--transition--4);
}

.event__memories--title {
  font-size: 1.8rem;
  cursor: pointer;
  margin-bottom: 0.6rem;
  transition: var(--transition--4);
}

.event__memories--title:hover {
  color: var(--color-dark--1);
}

.event__memories--text {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: 4px dotted var(--color-light--3);
}

/* !form */
.form {
  background-color: var(--color-light--1);
  border-radius: 5px;
  padding: 1.4rem 2.8rem;
  margin-bottom: 1.8rem;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.2rem;

  /* Match height and activity boxes */

  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__container--event-date {
  display: flex;
  gap: 2.4rem;
}

.form__row {
  display: flex;
  flex-direction: column;
}
.form__row--event {
  flex: 1;
}
.form__row--date {
  max-width: 14rem;
}

.form__label {
  font-size: 1.8rem;
  line-height: 1.6;
}

.form__label--span {
  margin-bottom: 0.4rem;
}

/* !inputs */
.form__input {
  border: 1px solid var(--color-dark--text);
  background-color: var(--color-lightest--text);
  border-radius: 3px;
  padding: 0.4rem;
  font-family: inherit;
  font-size: 1.4rem;
}

.form__input:focus {
  background-color: #fff;
}

.form__input--event {
  height: 100%;
}

.form__input--memory {
  resize: none;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.radio__buttons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1.4rem;
  align-items: center;
}

.radio__btn {
  cursor: pointer;
  position: absolute;
  height: 2.4rem;
  width: 2.4rem;
  opacity: 0;
}

.form__btn {
  font-family: inherit;
  font-size: 1.6rem;
  justify-self: center;
  background: none;
  border: 2px solid var(--color-brand--1);
  border-radius: 5px;
  width: 50%;
  padding: 0.8rem 1.6rem;
  transition: var(--transition--4);
  cursor: pointer;
}

.form__btn:hover {
  color: var(--color-lightest--text);
  background-color: var(--color-brand--1);
}

.btn--hide {
  display: none;
}

/* !icons */
.form__icon {
  position: relative;
  font-size: 2.2rem;
  cursor: pointer;
  transition: var(--transition--4);
}

.form__icon:hover {
  transform: scale(1.2);
}

.form__icon--selected {
  transform: scale(1.4);
}

/* Popup styling */
.leaflet-container {
  font: inherit !important;
}
.leaflet-popup {
  bottom: 5px !important;
}

.leaflet-popup-content {
  width: max-content !important;
}
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-lightest--text);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-container a.leaflet-popup-close-button {
  color: var(--color-lightest--text) !important;
  transition: var(--transition--4);
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: var(--color-light--text) !important;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.8rem !important;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}
